{
    "presets": [
        "react-app"
    ],
    "plugins": [
        ["import", {
            "libraryName": "antd",
            "ibraryDirectory": "es",
            "style": true
        }]
    ]
}